body {
    font-family: Roboto, sans-serif;
    background-color: #7B4CAD;
    color: #FAFA87;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}
    
header {
    text-align:center;
}

/*Hero Section*/
#hero, footer {
    background-color: #BF87FA;
    text-align:center;
    padding: 10px;
    border: 2px solid #ADAD3B;
}

#hero img {
    width: 300px
}

/*Bio Section*/
#bio {
    text-align: center;
}

/*List Section*/
#list ul li:nth-child(even) {
    color: pink;
}

/*Gallery*/

#gallery {
    border: 2px dotted yellow;
    margin: 60px;
    box-shadow: 10px 10px 20px black ;
}

#gallery figure {
    text-align: center;
}

/*Lit*/

#lit {
    border: 2px dotted yellow;
    margin: 60px;
    padding: 10px;
    box-shadow: 10px 10px 20px black
    
   
}